@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
    --theme-color: #4169e1; /* Royal Blue */
    --background-color: #1c1b1b;
}

@layer base {
    button {
        @apply cursor-pointer transition-all;
        @apply hover:opacity-90 active:scale-90 disabled:opacity-50 disabled:pointer-events-none;
    }
}

@layer components {
    .input-group {
        @apply flex gap-2 flex-col;
        @apply w-[300px] sm:w-[360] rounded-[8px] bg-[#F5F5F5] p-5 transition-all;
        & > div {
            /* @apply flex gap-3 flex-col w-[360] h-[66.81px] rounded-[8px] bg-[#F5F5F5]; */
            @apply flex gap-3 flex-col-reverse relative justify-center pt-3;
            label {
                @apply text-[11px] text-[#616161] transition-all absolute pointer-events-none;
            }
            input {
                @apply outline-none text-[16px] text-[#212121];

                &:focus + label,
                &.filled + label {
                    @apply -translate-y-7;
                }
            }
        }

        p {
            @apply text-[11px] text-red-500;
        }

        .textarea-force-full-height {
            height: 100% !important;
            min-height: 100% !important;
            max-height: 100% !important;
        }
    }

    .footer-link {
        @apply size-11 rounded-full flex justify-center items-center transition-all;
        @apply hover:bg-black/30;
    }

    .reset {
        @apply size-3;
    }
}

@utility container {
    @apply p-3 mx-auto;
}

.textarea-force-full-height {
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
}

/* bg-[#0FDB66] - green online indicator */
